.nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 1rem;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 8px;
    transition: background-color 0.2s;
}
.nav-link:hover {
   background-color: var(--surface-hover);
}

.nav-link i {
    font-size: 1.2rem;
}
