spring:
  application:
    name: desafio
  datasource:
    url: jdbc:postgresql://localhost:5432/stefanini
    username: stefanini
    password: stefanini_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true